body {
    background-color: gray;
    color: blue;
}
p {
    float:right;
    color: green;
}
h1 {
   text-align: center;
   color: cyan;
}
.hole {
    background-color: red;
    text-align: center;
    }